<template>
    <tr>
        <td colspan.bind="17" class="text-right" style="padding-right:10%">
            Total Harga
        </td>
        <td colspan.bind="5" class="text-left">
            <require from="../../../../../lib/number-format-value-converter"></require>
            ${totalMaterial | numberFormat:"0,000.00"}
        </td>
    </tr>
    <tr>
        <td colspan.bind="17" class="text-right" style="padding-right:10%">
            Total Ongkir
        </td>
        <td colspan.bind="5" class="text-left">
            <require from="../../../../../lib/number-format-value-converter"></require>
            ${totalOngkir | numberFormat:"0,000.00"}
        </td>
    </tr>
</template>