<template>
    <tr>
        <td>
            <au-textbox 
                value.bind="data.doNo" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.productName" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.quantity" 
                read-only.bind="true"
                format="0.00"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.remarkDescription" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
    </tr>
</template>