<template >
    <tr>
        <td>
            <au-textbox 
                value.bind="data.ProductCode"
                read-only.bind="true"
                error.bind="error.ProductCode">
            </au-textbox>
        </td>
        <td>
            <au-autocomplete 
                    value.bind="dataProduct" 
                    error.bind="error.ProductName"
                    loader.bind="productLoader"
                    placeholder="cari barang" 
                    key="code"
                    query.bind="isPostedQuery"
                    read-only.bind="(options.readOnly || (options.isEdit && !data.IsNew))">
                </au-autocomplete>
        </td>
        <td>
            <au-textbox 
                value.bind="data.Uom"
                read-only.bind="true"
                error.bind="error.Uom">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.ProductCurrency"
                read-only.bind="true"
                error.bind="error.ProductCurrency">
            </au-textbox>
        </td>
        <td>
            <au-datepicker
                value.bind="data.LastPurchaseDate"
                read-only.bind="readOnly"
                error.bind="error.LastPurchaseDate">
            </au-datepicker>
        </td>
        <td>
            <au-numeric 
                value.bind="data.LastPurchasePrice"
                read-only.bind="readOnly"
                error.bind="error.LastPurchasePrice">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.ProductPrice"
                read-only.bind="true"
                error.bind="error.ProductPrice"
                input.delegate="options.calculateTotalPrice(data)">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.UpdatePrice"
                read-only.bind="readOnly"
                error.bind="error.UpdatePrice"
                input.delegate="options.calculateTotalPrice(data)">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.PriceDifference"
                read-only.bind="true"
                error.bind="error.PriceDifference">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Percentage"
                read-only.bind="true"
                format="0,0.00"
                error.bind="error.Percentage">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.SupplierName1"
                read-only.bind="readOnly"
                error.bind="error.SupplierName1">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.SupplierPrice1"
                read-only.bind="readOnly"
                error.bind="error.SupplierPrice1">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.SupplierName2"
                read-only.bind="readOnly"
                error.bind="error.SupplierName2">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.SupplierPrice2"
                read-only.bind="readOnly"
                error.bind="error.SupplierPrice2">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.SupplierName3"
                read-only.bind="readOnly"
                error.bind="error.SupplierName3">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.SupplierPrice3"
                read-only.bind="readOnly"
                error.bind="error.SupplierPrice3">
            </au-numeric>
        </td>
        <td if.bind="!readOnly">
            <button type="button" click.delegate="onremove(data, $event)" class="btn btn-danger btn-sm">-</button>
        </td>
    </tr>
</template>