<template >
    <tr>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Kode Barang</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Nama Barang</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Satuan</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Mata Uang</th>
        <th rowspan="2" style="vertical-align: middle; text-align: center;">Harga</th>
        <th colspan="2" style="text-align: center;">Supplier 1</th>
        <th colspan="2" style="text-align: center;">Supplier 2</th>
        <th colspan="2" style="text-align: center;">Supplier 3</th>
    </tr>
    <tr>
        <th style="text-align: center;">Nama</th>
        <th style="text-align: center;">Harga</th>
        <th style="text-align: center;">Nama</th>
        <th style="text-align: center;">Harga</th>
        <th style="text-align: center;">Nama</th>
        <th style="text-align: center;">Harga</th>
    </tr>
</template>