<template>
    <tr>
        <td>
            <au-textbox
				value.bind="data.PO_SerialNumber"
				read-only.bind="true">
			</au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.DealQuantity"
                        read-only.bind="true"
                        format="0.00"
                        options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="data.PricePerDealUnit"
                        read-only.bind="true"
                        format="0.00"
                        options.bind="controlOptions">
            </au-numeric>
        </td>
    </tr>
</template>