<template>
    <tr>
        <th width="12%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nomor&nbsp;PR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- No. Referensi
            PR - Article</th>
        <th width="6%">Nomor RO</th>
        <th width="4%">Barang</th>
        <th width="4%">Jumlah Diminta</th>
        <th width="5%">Satuan Diminta</th>
        <th width="25%">Jumlah&nbsp;Beli </th>
        <th width="6%">Satuan&nbsp;Beli</th>
        <th width="4%">Jumlah Kecil</th>
        <th width="3%">Satuan Kecil</th>
        <th width="7%">&nbsp;&nbsp;&nbsp;Konversi&nbsp;&nbsp;&nbsp;</th>
        <th width="25%">Harga&nbsp;Satuan</th>
        <th width="4%" show.bind="options.checkOverBudget">Over Budget?</th>
        <th width="6%" show.bind="options.checkOverBudget">Keterangan Over Budget</th>
        <th width="4%" show.bind="options.checkOverBudget">Jenis&nbsp;OB</th>
        <th width="4%" show.bind="options.checkOverBudget">Amount&nbsp;OB</th>
        <th width="4%" show.bind="options.checkOverBudget">Total&nbsp;OB</th>
        <!--<th width="4%" show.bind="options.isUseIncomeTax">Include Ppn?</th>-->
        <th width="8%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keterangan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th width="2%" show.bind="!readOnly"></th>
        <th width="25%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th width="4%">ETD</th>
        <th width="4%">ETA</th>
        <!-- <th width="8%">Barang Datang</th> -->
        <th>
            Barang Datang
            <au-checkbox value.bind="options.checkedAll" disabled.bind="readOnly" change.delegate=changeCheckedAll()>
            </au-checkbox>
        </th>
    </tr>
</template>