.upload-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.upload-bar-input-wrapper {
  flex-grow: 1;
}
.upload-bar-label {
 white-space: nowrap;
  min-width: 150px;
  text-align: right;
  margin-bottom: 0;
}
.upload-bar-input {
  width: 100%;
}
.upload-bar-btn,
.upload-bar-scan-btn {
  height: 38px;
  white-space: nowrap;
  min-width: 80px;
}
.upload-bar-scan-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
}
.upload-bar-scan-btn:disabled {
  background-color: #b3d7ff;
}
