<template>
	<tr>
		<td>
			<au-textbox
				value.one-way="data.ePONo"
				read-only="true">
			</au-textbox>
		</td>
        <td>
			<au-textbox
				value.one-way="data.poSerialNumber"
				read-only="true">
			</au-textbox>
		</td>
        <td>
			<au-textbox
				value.one-way="data.product.Name"
				read-only="true">
			</au-textbox>
		</td>
        <td>
            <au-numeric 
				value.bind="data.internNoteQuantity" 
				read-only.bind="true" 
				format="0.00">
			</au-numeric>
        </td>
		<td>
            <au-numeric 
				value.bind="data.ePOQuantity" 
				read-only.bind="true" 
				format="0.00">
			</au-numeric>
        </td>
        <td>
            <au-textbox
				value.one-way="data.uomUnit.Unit"
				read-only="true">
			</au-textbox>
        </td>
        <td>
            <au-numeric 
				value.bind="data.pricePerDealUnit" 
				read-only.bind="true" 
				format="0.0000">
			</au-numeric>
        </td>
        <td>
            <au-numeric 
				value.bind="data.priceTotal" 
				read-only.bind="true" 
				format="0.00">
			</au-numeric>
        </td>
	</tr>
</template>